.btn-dark {
    -jfx-button-type: RAISED;
    -fx-background-color: #4f5d75;
    -fx-text-fill: #fff;
}

.btn-light {
    -jfx-button-type: RAISED;
    -fx-background-color: #fff;
    -fx-text-fill: #2d3142;
}

.btn-danger {
    -jfx-button-type: RAISED;
    -fx-background-color: #ef6663;
    -fx-text-fill: #fff;
}

.btn-accent {
    -jfx-button-type: RAISED;
    -fx-background-color: #ef8354;
    -fx-text-fill: #fff;
}

.lbl-dark {
    -fx-text-fill: #2d3142;
}

.lbl-light {
    -fx-text-fill: #fff;
}

.txt-fld-light {
    -jfx-focus-color: #ef8354;
    -jfx-unfocus-color: #fff;
    -fx-text-fill: #fff;
    -fx-prompt-text-fill: #bfc0c0;
}

.txt-fld-dark {
    -jfx-focus-color: #4f5d75;
    -jfx-unfocus-color: #bfc0c0;
    -fx-text-fill: #2d3142;
    -fx-prompt-text-fill: #bfc0c0;
}

/* For welcome.fxml */
.welcome-logo-container {
    -fx-background-color: #2d3142;
}

.welcome-module-container {
    -fx-background-color: #ffffff;
}

.welcome-btn-module {
    -jfx-button-type: RAISED;
    -fx-background-color: #4f5d75;
    -fx-text-fill: #fff;
}

/* For store-list.xml */
.store-list-container {
    -fx-background-color: #4f5d75;
}

.store-list {
    -fx-background-color: #bfc0c0;
}

/* For store-item.xml */
.store-item {
    -fx-background-color: #fff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 12, 0.2, 4, 4);
}

/* For store-form.xml */
.store-form-container {
    -fx-background-color: #4f5d75;
}

.store-form {
    -fx-background-color: #fff;
}

/* For product-list.xml */
.product-list-container {
    -fx-background-color: #4f5d75;
}

.product-list {
    -fx-background-color: #e1e1e1;
}

.table-cell.col-amount {
    -fx-alignment: CENTER_RIGHT;
}

/* For product-form.xml */
.product-form-container {
    -fx-background-color: #4f5d75;
}

.product-form {
    -fx-background-color: #fff;
}
